* {
	box-sizing: border-box;
}
:root {
	--body--: #2c2b30;
	--shadow-color: #4f4f51;
	--light-color: #d6d6d6;
	--ros-f2: #f2c4ce;
	--Lred: #f58f7c;
}
body {
	margin: 0;
	/* background-image: linear-gradient(to right,  var(--body--) , var(--shadow-color)); */
	background-image: var(--light-color);
	font-family: Arial, Helvetica, sans-serif;
}
header {
	padding-left: 20px;
	margin: 15px;
	display: flex;
	svg {
		transform: rotate(-45deg);
		width: 50px;
		color: #ffc94b;
	}
	h1 {
		color: var(--light-color);
	}
}
.guss-game {
	text-align: center;
	width: 1000px;
	margin: 20px auto;
	display: flex;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	.game-area {
		text-align: center;
		.inputs {
			> div {
				margin-bottom: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				> span {
					margin-right: 10px;
					font-size: 30px;
					font-weight: bold;
				}
				> input {
					width: 60px;
					height: 60px;
					font-size: 30px;
					font-weight: bold;
					text-align: center;
					margin: 0 5px;
					caret-color: var(--primary-color);
					border: none;
					border-bottom: 4px solid #828282;
					&:focus {
						outline: none;
						border-bottom: 4px solid #1e1e1e;
					}
					&.in-place {
						background-color: orange;
						color: white;
						border: none;
					}
					&.not-in-place {
						background-color: mediumaquamarine;
						color: white;
						border: none;
					}
					&.wrong {
						background-color: gainsboro;
						color: white;
						border: none;
					}
				}
			}
			.disable-input {
				opacity: 0.5;
				/* pointer-events: none; */
			}
		}
	}
	.key-colors {
		background-color: #f1f1f1;
		height: fit-content;
		border-radius: 15px;
		padding-bottom: 15px;
		padding: 5px;
		.key-color {
			display: flex;
			text-align: center;
			padding: 15px;
			margin-bottom: 10px;
			border-radius: 15px;
			.key {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-right: 10px;
				/* background-color: red; */
				&.in-place {
					background-color: orange;
				}
				&.not-in-place {
					background-color: mediumaquamarine;
				}
				&.wrong {
					background-color: gainsboro;
				}
			}
			.key-text {
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}
footer {
	text-align: center;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: white;
	font-size: 25px;
}
button {
	margin: 15px;
	/* background: #ff4742; */
	background: #ffc337;
	border: 1px solid #ffc94b;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	transition: all 0.2s ease-in-out;
}

button:hover,
button:active {
	background-color: initial;
	color: #ffc94b;
}

button:active {
	opacity: 0.5;
}
.check {
	width: 40%;
}
.hint {
	background: #f17a7e;
	border: 1px solid #f17a7e;
}
.hint:hover,
.hint:active {
	background-color: initial;
	color: #f17a7e;
}
